<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notes App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                      </svg>'alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    TODO App
                  </a>
              <div class="d-flex" id="navbarSupportedContent" >
                  <!-- <button class="btn btn-outline-success" type="submit" >Add Task</button> -->
                  <a href="{% url 'new_note' %}" class="btn btn-outline-success">Add Task</a>
              </div>
            </div>
          </nav>
    </header>


    <div class="d-flex justify-content-center align-items-center" ><h5>Your Notes</h5></div>
    <div class="d-flex justify-content-center align-items-center" style="padding-bottom: 10px;"><p>Click on Completed/Not Completed to Change status</p></div>
    
    <div class="container justify-content-center align-items-center">
        {% for note in notes %}
        <div class="card mx-auto" style="width: 26rem; margin-bottom: 30px;">
        <div class="card-body" >
        <h3>{{ note.title }}</h3>
            <p>{{ note.description }}</p>
            <div class="row">
            <p class="fw-lighter col-6">{{ note.start_date }}</p>
            <p class="fw-lighter col-6">{{ note.end_date }}</p>
            </div>
            <div class="container">
                <div class="row container">
                    <div class="col-6">
                    <p class="fw-bolder" >Status</p>
                    </div>
                        {% if note.is_completed %}
                        <div class="col-6 "><a href="{% url 'status_change' id=note.id %}" class="fst-italic text-primary col-xs-6 text-decoration-line-through">Completed</a></div>
                        {% else %}
                        <div class="col-6  "><a  href="{% url 'status_change' id=note.id %}" class="fst-italic text-decoration-none text-primary mr-auto">Not Completed</a></div>
                    {% endif %}
                
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-6" id="navbarSupportedContent" >
                    <!-- <button class="btn btn-outline-success" type="submit" >Add Task</button> -->
                    <a href="{% url 'edit_note' id=note.id %}" class="btn btn-primary">Edit Task</a>
                </div>
                <div class="d-flex col-6" id="navbarSupportedContent" >
                    <!-- <button class="btn btn-outline-success" type="submit" >Add Task</button> -->
                    <a href="{% url 'delete' id=note.id %}" class="btn btn-danger">Delete Task</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}   
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>